{{! Check that global class names remain the same. }}
<article
  id="MyBlogEntry"
  class="container-global"
  data-test-article="MyBlogEntry"
>
  <header class="header-global">
    <h1>embroider-css-modules</h1>
  </header>

  <div>
    <p class="paragraph-global">
      Still have questions about embroider-css-modules? Try sending me a message.
    </p>
  </div>
</article>
