{{!
  Complex conditional statements have limited support.
  The end-developer should refactor code.
}}
<div
  local-class={{if
    (or this.someCondition1 this.someCondition2)
    (if this.someCondition3 " a1 a2 a3 ")
    (unless this.someCondition4 " a4 ")
  }}
>
  {{! Some content }}
</div>