{{!--
  We assume that mustache statements, which are neither {{if}}
  nor {{unless}}, return global class names already. In short,
  these statements should remain the same.
--}}
<div
  data-test-container
  local-class={{this.someGetterOrHelper}}
>
  {{! Some content }}
</div>