{{! We can pass the local-class attribute to helpers. }}
<button
  aria-label="Confirm"
  local-class="button"
  type="button"
>
  {{svg-jar
    "check"
    aria-hidden="true"
    local-class="icon"
  }}
</button>