{{!--
  We assume that mustache statements, which do not correspond to
  {{concat}}, {{if}}, or {{unless}} helper, return global class
  names already.
--}}
<div
  data-test-container
  local-class={{(someHelper "positionalArgument" namedArgument=namedArgument)}}
>
  {{! Some content }}
</div>