.components-widgets-widget-4-memo-actions__actions {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.components-widgets-widget-4-memo-actions__button {
  align-items: center;
  border: 0;
  border-radius: 50%;
  display: flex;
  height: 2rem;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 2rem;
}

.components-widgets-widget-4-memo-actions__icon {
  color: #03a9f4;
  height: 1.25rem;
  width: 1.25rem;
}

.components-widgets-widget-4-memo-actions__icon-comment {
  transform: translate(0, 0) scale(-1, 1);
}

.components-widgets-widget-4-memo-actions__icon-repost {
  transform: translate(0, 0) scale(-1, 1) rotate(90deg);
}
