.components-widgets-widget-4-memo-body__body {
  background: linear-gradient(
    126deg,
    rgb(238 255 255 / 50%) 20%,
    rgb(248 253 255 / 70%) 80%
  );
  border-radius: 0.1875rem;
  height: 100%;
}

.components-widgets-widget-4-memo-body__message {
  font-size: 0.8rem;
  height: calc(100% - 1.5rem);
  line-height: 1.75;
  overflow-y: auto;
  padding: 0.75rem;
  width: calc(100% - 1.5rem);
}

.components-widgets-widget-4-memo-body__message a {
  color: #03a9f4;
}

.components-widgets-widget-4-memo-body__body.components-widgets-widget-4-memo-body__minimal-layout .components-widgets-widget-4-memo-body__message {
  font-size: 0.75rem;
  height: calc(100% - 1rem);
  line-height: 1.6;
  padding: 0.5rem;
  width: calc(100% - 1rem);
}

.components-widgets-widget-4-memo-body__message {
  font-size: 0.75rem;
  height: calc(100% - 1rem);
  line-height: 1.6;
  padding: 0.5rem;
  width: calc(100% - 1rem);
}
