.components-ui-form__form {
  background-color: #15202d;
  border-radius: 0.25rem;
  box-shadow: inset 0 0 0.125rem #26313d;
  display: flex;
  flex-direction: column;
  padding: 1.25rem 1.5rem;
}

.components-ui-form__actions {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}

.components-ui-form__submit-button {
  padding: 0.5rem 3rem;
}
