/* Ember supports plain CSS out of the box. More info: https://cli.emberjs.com/release/advanced-use/stylesheets/ */
html {
  font-size: 16px;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
