.components-products-product-card__container {
  display: grid;
  grid-template-areas:
    "header"
    "image-container"
    "body"
    "actions";
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
  height: calc(100% - 2rem) !important;
  padding: 1rem;
  position: relative;
  width: calc(100% - 2rem) !important;
}

.components-products-product-card__container:hover {
  background: #26313d;
  transform: translateY(-0.25rem);
  transition: all 0.25s;
}

.components-products-product-card__header {
  grid-area: header;
}

.components-products-product-card__name {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
}

.components-products-product-card__image-container {
  grid-area: image-container;
  max-height: 6rem;
  max-width: 8rem;
}

.components-products-product-card__body {
  grid-area: body;
  margin-top: 1rem;
}

.components-products-product-card__description {
  font-size: 0.875rem;
  margin-bottom: 0.375rem;
}

.components-products-product-card__price {
  font-size: 0.875rem;
  margin-bottom: 0.375rem;
}

.components-products-product-card__actions {
  align-items: center;
  display: flex;
  grid-area: actions;
  justify-content: flex-end;
}

.components-products-product-card__link {
  background: transparent;
  border: 0.0625rem solid rgb(247 252 251 / 50%);
  border-radius: 0.15rem;
  color: rgb(247 252 251 / 90%);
  font-family: Raleway, sans-serif;
  font-size: 0.875rem;
  margin-top: 0.5rem;
  padding: 0.25rem 0.5rem;
  text-decoration: none;
}

.components-products-product-card__link::after {
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.components-products-product-card__link:focus {
  outline: 0;
}

.components-products-product-card__link:focus::after {
  border: 1px solid orange;
}

.components-products-product-card__container[data-container-query-wide] {
  column-gap: 1.5rem;
  grid-template-areas:
    "image-container header"
    "image-container body"
    "image-container actions";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
}

.components-products-product-card__container[data-container-query-wide]
  .components-products-product-card__body {
  margin-top: 0;
}

.components-products-product-card__container[data-container-query-wide]
  .components-products-product-card__link {
  margin-top: 1rem;
}
