.container {
  display: grid;
  grid-template-areas:
    "header"
    "body";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

.header {
  grid-area: header;
}

.body {
  grid-area: body;
}
