.components-widgets-widget-3-tour-schedule__container {
  display: grid;
  grid-template-areas:
    "splash"
    ".";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0;
  height: 100%;
  padding: 0 0.5rem;
  width: calc(100% - 1rem);
}

.components-widgets-widget-3-tour-schedule__splash {
  grid-area: splash;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.components-widgets-widget-3-tour-schedule__splash-image-container {
  height: 100%;
  width: 100%;
}

.components-widgets-widget-3-tour-schedule__placeholder-image {
  background: linear-gradient(
    36deg,
    rgb(255 224 130 / 40%) 15%,
    rgb(255 248 225 / 80%) 90%
  );
  border-radius: 0.25rem;
  height: 100%;
  width: 100%;
}

.components-widgets-widget-3-tour-schedule__concert-date-container {
  height: calc(100% - 0.5rem);
  left: 0;
  padding: 0.25rem 0.5rem;
  position: absolute;
  top: 0;
  width: calc(100% - 1rem);
}

.components-widgets-widget-3-tour-schedule__concert-date {
  font-size: 1.25rem;
  font-weight: 700;
}

.components-widgets-widget-3-tour-schedule__venue-name-container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.components-widgets-widget-3-tour-schedule__concert-link {
  display: block;
  font-size: 4rem;
  font-style: italic;
  font-weight: 700;
  height: 100%;
  letter-spacing: 0.25rem;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

.components-widgets-widget-3-tour-schedule__venue-name {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.components-widgets-widget-3-tour-schedule__container[data-cq-small] {
  padding: 0 0.25rem;
  width: calc(100% - 0.5rem);
}
