.components-products-product-image__placeholder-image {
  aspect-ratio: 4 / 3;
  border-radius: 0.75rem;
  width: 100%;
}

.components-products-product-image__image {
  aspect-ratio: 4 / 3;
  border-radius: 0.75rem;
  width: 100%;
}

.components-products-product-image__image {
  object-fit: cover;
}

.components-products-product-image__placeholder-image {
  background: linear-gradient(
    36deg,
    rgb(255 224 130 / 40%) 15%,
    rgb(255 248 225 / 80%) 90%
  );
  min-width: 8rem;
}
