{{! We can pass the local-class attribute to helpers. }}
<button
  aria-label="Cancel"
  class={{local-class this.styles "button" "button-secondary"}}
  type="button"
>
  {{svg-jar
    "clear"
    aria-hidden="true"
    class=(local-class this.styles (array "icon" "icon-secondary"))
  }}
</button>