.templates-products__shared-layout {
  display: grid;
  grid-template-areas:
    "filters"
    "product-details"
    "list";
  grid-template-columns: 1fr;
}

.templates-products__sticky-container {
  position: relative;
}

.templates-products__products-with-details {
  grid-template-rows: auto auto 1fr;
}

.templates-products__products {
  grid-template-rows: auto 0 1fr;
}

.templates-products__filters {
  background-color: #15202d;
  border-radius: 0.25rem;
  box-shadow: inset 0 0 0.125rem #26313d;
  display: flex;
  flex-direction: column;
  grid-area: filters;
  margin-bottom: 2rem;
  padding: 0.75rem 1.5rem 1.5rem;
  position: sticky;
  top: -1.5rem;
  z-index: 100;
}

.templates-products__filter {
  margin-bottom: 1.25rem;
}

.templates-products__filter:last-of-type {
  margin-bottom: 0;
}

.templates-products__list {
  column-gap: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
  grid-template-rows: 1fr;
  row-gap: 1.5rem;
}

.templates-products__product-details {
  grid-area: product-details;
}

.templates-products__products-with-details {
    grid-template-areas:
      "filters filters"
      "list product-details";
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr;
  }

.templates-products__products-with-details .templates-products__list {
    height: max-content;
  }

.templates-products__list {
    height: max-content;
  }
